.header-container{
    color: var(--text-color);
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(188, 174, 174, 0.882);
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 1000;
  background: var(--bg-color);
  /* backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);  */
    /* gap: 2rem; */

    & .time{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    & button{
        display: flex;
        align-items: center;
        gap: 3px;
        font-size: 0.8rem;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        
    }
   
}

.ham-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.header-end{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    
    & h3{
        margin-top: -0.01rem;
    }
}

.profile-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(184, 31, 62, 0.692);
}
