.navBar{
    display: flex;
    flex-direction: column;
    /* width: 25.0%; */
    height: 100vh;
    border-right: 0.5px solid gray;
    color: var(--text-color);
    position: relative;
}
.navBar-hidden{
    display: none;
}

.admin-top{
    border-bottom: 0.5px solid gray;
    height: 100px;
}

.admin-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem ;
    
}
.admin-logo-img{
    height: 5rem;
    width: 6.1rem;
    margin-left: -2rem;
    padding: 0;
}

.logo-text{
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.8rem;
    font-family: arial;
    letter-spacing: -0.1rem; 
}


nav{
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    /* margin-left: 0; */
}

nav li{ 
    list-style: none;

}

nav li a{
    text-decoration: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--text-color);
    border-bottom: 0.5px solid gray;
    padding-left: 2rem;
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    &:focus{
        border-left: 2px solid rgb(81, 82, 170);
        translate: 1px
    }
}

.footer{
    position: absolute;
    bottom: 1rem;
    left: 7rem;
}