.projects-card{
    border: 1px solid gray;
    margin-top: 1rem;
    border-radius: 10px;
    padding-left: 1rem;
}

table,tr,td,th{
    /* border: 1px solid white; */
    border-collapse: collapse;
    
}
td,th{
    padding: 8px;
}