/* .projects-page-container{
   height: 500px;
} */

.projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 1rem;
    
    & div{
        line-height: 0;
    }
}

.prj-btn{
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 0.5rem 1.5rem;
    font-family: arial;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border: none;
    border-radius: 7px;
    margin-right: 1rem;
    &:hover{
        background-color: var(--hover-text);
        cursor: pointer;
    }
}

.prj-search{
    padding: 0.3rem 3rem;
    border-radius: 8px;
    border: 0.1px solid gray;
    margin-top: -1rem;

    /* color: var(--text-color); */
    &:focus{
        outline: 0.1px solid rgba(128, 128, 128, 0);;
    }
}